# History and Session Data
.Rhistory
.RData
.Rproj.user
/.quarto/

# Project folders to ignore
/css/
/data/
/documents/
/figures/
/lectures/
/ms_templates/
/about_cache/
/test_overviews/

# THE WEBSITE FOLDER
# We do NOT ignore /docs/ because that is your website
!/docs/

# File types to ignore
*.qmd
*.txt
**/*.quarto_ipynb
