# History and Session Data
.Rhistory
.RData
.Rproj.user

# Quarto internal folders
/.quarto/
_freeze/

# Ignore large/local build artifacts in source folders 
# (But keep the ones in /docs/ so the website works)
**/*.html
**/*.docx
**/*.pptx
**/*.pdf
**/*.quarto_ipynb

# Whitelist the /docs/ folder and its contents
!/docs/
!/docs/**
.positai
